{
    "openapi": "3.0.0",
    "info": {
        "title": "Twitter API v2",
        "description": "Twitter API v2 available endpoints",
        "termsOfService": "https://developer.twitter.com/en/developer-terms/agreement-and-policy.html",
        "contact": {
            "name": "Twitter Developers",
            "url": "https://developer.twitter.com/2/"
        },
        "license": {
            "name": "Twitter Developer Agreement and Policy",
            "url": "https://developer.twitter.com/en/developer-terms/agreement-and-policy.html"
        },
        "version": "2.100"
    },
    "servers": [
        {
            "url": "https://api.twitter.com/2",
            "description": "Twitter API"
        }
    ],
    "tags": [
        {
            "name": "Bookmarks",
            "description": "Endpoints related to retrieving, managing bookmarks of a user",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://developer.twitter.com/en/docs/twitter-api/bookmarks"
            }
        },
        {
            "name": "Compliance",
            "description": "Endpoints related to keeping X data in your systems compliant",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://developer.twitter.com/en/docs/twitter-api/compliance/batch-tweet/introduction"
            }
        },
        {
            "name": "Direct Messages",
            "description": "Endpoints related to retrieving, managing Direct Messages",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://developer.twitter.com/en/docs/twitter-api/direct-messages"
            }
        },
        {
            "name": "General",
            "description": "Miscellaneous endpoints for general API functionality",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://developer.twitter.com/en/docs/twitter-api"
            }
        },
        {
            "name": "Lists",
            "description": "Endpoints related to retrieving, managing Lists",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://developer.twitter.com/en/docs/twitter-api/lists"
            }
        },
        {
            "name": "Spaces",
            "description": "Endpoints related to retrieving, managing Spaces",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://developer.twitter.com/en/docs/twitter-api/spaces"
            }
        },
        {
            "name": "Tweets",
            "description": "Endpoints related to retrieving, searching, and modifying Tweets",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://developer.twitter.com/en/docs/twitter-api/tweets/lookup"
            }
        },
        {
            "name": "Users",
            "description": "Endpoints related to retrieving, managing relationships of Users",
            "externalDocs": {
                "description": "Find out more",
                "url": "https://developer.twitter.com/en/docs/twitter-api/users/lookup"
            }
        }
    ],
    "paths": {
        "/compliance/jobs": {
            "get": {
                "tags": [
                    "Compliance"
                ],
                "summary": "List Compliance Jobs",
                "description": "Returns recent Compliance Jobs for a given job type and optional job status",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/get-compliance-jobs"
                },
                "operationId": "listBatchComplianceJobs",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Type of Compliance Job to list",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "tweets",
                                "users"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Status of Compliance Job to list",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created",
                                "in_progress",
                                "failed",
                                "complete"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ComplianceJobFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2ComplianceJobsResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Create compliance job",
                "description": "Creates a compliance for the given job type",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/post-compliance-jobs"
                },
                "operationId": "createBatchComplianceJob",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateComplianceJobRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateComplianceJobResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "/compliance/jobs/{id}": {
            "get": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Get Compliance Job",
                "description": "Returns a single Compliance Job by ID",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/get-compliance-jobs-id"
                },
                "operationId": "getBatchComplianceJob",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Compliance Job to retrieve",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/JobId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ComplianceJobFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2ComplianceJobsIdResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ]
            }
        },
        "/dm_conversations": {
            "post": {
                "tags": [
                    "Direct Messages"
                ],
                "summary": "Create a new DM Conversation",
                "description": "Creates a new DM Conversation.",
                "operationId": "dmConversationIdCreate",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDmConversationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateDmEventResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2UserToken": [
                            "dm.write",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            }
        },
        "/dm_conversations/with/{participantId}/dm_events": {
            "get": {
                "tags": [
                    "Direct Messages"
                ],
                "summary": "Get DM Events for a DM Conversation",
                "description": "Returns DM Events for a DM Conversation",
                "operationId": "getDmConversationsWithParticipantIdDmEvents",
                "parameters": [
                    {
                        "name": "participantId",
                        "in": "path",
                        "description": "The ID of the participant user for the One to One DM conversation",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "name": "max_results",
                        "in": "query",
                        "description": "The maximum number of results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        },
                        "x-ballerina-name": "maxResults"
                    },
                    {
                        "name": "pagination_token",
                        "in": "query",
                        "description": "This parameter is used to get a specified 'page' of results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/PaginationToken32"
                        },
                        "x-ballerina-name": "paginationToken"
                    },
                    {
                        "name": "event_types",
                        "in": "query",
                        "description": "The set of event_types to include in the results",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "minItems": 1,
                            "uniqueItems": true,
                            "type": "array",
                            "example": [
                                "MessageCreate",
                                "ParticipantsLeave"
                            ],
                            "items": {
                                "type": "string",
                                "enum": [
                                    "MessageCreate",
                                    "ParticipantsJoin",
                                    "ParticipantsLeave"
                                ]
                            },
                            "default": [
                                "MessageCreate",
                                "ParticipantsLeave",
                                "ParticipantsJoin"
                            ]
                        },
                        "x-ballerina-name": "eventTypes"
                    },
                    {
                        "$ref": "#/components/parameters/DmEventFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/DmEventExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/MediaFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/UserFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/TweetFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2DmConversationsWithParticipantIdDmEventsResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2UserToken": [
                            "dm.read",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            }
        },
        "/dm_conversations/with/{participantId}/messages": {
            "post": {
                "tags": [
                    "Direct Messages"
                ],
                "summary": "Send a new message to a user",
                "description": "Creates a new message for a DM Conversation with a participant user by ID",
                "operationId": "dmConversationWithUserEventIdCreate",
                "parameters": [
                    {
                        "name": "participantId",
                        "in": "path",
                        "description": "The ID of the recipient user that will receive the DM",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateMessageRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateDmEventResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2UserToken": [
                            "dm.write",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            }
        },
        "/dm_conversations/{dmConversationId}/messages": {
            "post": {
                "tags": [
                    "Direct Messages"
                ],
                "summary": "Send a new message to a DM Conversation",
                "description": "Creates a new message for a DM Conversation specified by DM Conversation ID",
                "operationId": "dmConversationByIdEventIdCreate",
                "parameters": [
                    {
                        "name": "dmConversationId",
                        "in": "path",
                        "description": "The DM Conversation ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateMessageRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateDmEventResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2UserToken": [
                            "dm.write",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            }
        },
        "/dm_conversations/{id}/dm_events": {
            "get": {
                "tags": [
                    "Direct Messages"
                ],
                "summary": "Get DM Events for a DM Conversation",
                "description": "Returns DM Events for a DM Conversation",
                "operationId": "getDmConversationsIdDmEvents",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The DM Conversation ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/DmConversationId"
                        }
                    },
                    {
                        "name": "max_results",
                        "in": "query",
                        "description": "The maximum number of results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        },
                        "x-ballerina-name": "maxResults"
                    },
                    {
                        "name": "pagination_token",
                        "in": "query",
                        "description": "This parameter is used to get a specified 'page' of results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/PaginationToken32"
                        },
                        "x-ballerina-name": "paginationToken"
                    },
                    {
                        "name": "event_types",
                        "in": "query",
                        "description": "The set of event_types to include in the results",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "minItems": 1,
                            "uniqueItems": true,
                            "type": "array",
                            "example": [
                                "MessageCreate",
                                "ParticipantsLeave"
                            ],
                            "items": {
                                "type": "string",
                                "enum": [
                                    "MessageCreate",
                                    "ParticipantsJoin",
                                    "ParticipantsLeave"
                                ]
                            },
                            "default": [
                                "MessageCreate",
                                "ParticipantsLeave",
                                "ParticipantsJoin"
                            ]
                        },
                        "x-ballerina-name": "eventTypes"
                    },
                    {
                        "$ref": "#/components/parameters/DmEventFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/DmEventExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/MediaFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/UserFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/TweetFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2DmConversationsIdDmEventsResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2UserToken": [
                            "dm.read",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            }
        },
        "/dm_events": {
            "get": {
                "tags": [
                    "Direct Messages"
                ],
                "summary": "Get recent DM Events",
                "description": "Returns recent DM Events across DM conversations",
                "operationId": "getDmEvents",
                "parameters": [
                    {
                        "name": "max_results",
                        "in": "query",
                        "description": "The maximum number of results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        },
                        "x-ballerina-name": "maxResults"
                    },
                    {
                        "name": "pagination_token",
                        "in": "query",
                        "description": "This parameter is used to get a specified 'page' of results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/PaginationToken32"
                        },
                        "x-ballerina-name": "paginationToken"
                    },
                    {
                        "name": "event_types",
                        "in": "query",
                        "description": "The set of event_types to include in the results",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "minItems": 1,
                            "uniqueItems": true,
                            "type": "array",
                            "example": [
                                "MessageCreate",
                                "ParticipantsLeave"
                            ],
                            "items": {
                                "type": "string",
                                "enum": [
                                    "MessageCreate",
                                    "ParticipantsJoin",
                                    "ParticipantsLeave"
                                ]
                            },
                            "default": [
                                "MessageCreate",
                                "ParticipantsLeave",
                                "ParticipantsJoin"
                            ]
                        },
                        "x-ballerina-name": "eventTypes"
                    },
                    {
                        "$ref": "#/components/parameters/DmEventFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/DmEventExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/MediaFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/UserFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/TweetFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2DmEventsResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2UserToken": [
                            "dm.read",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            }
        },
        "/dm_events/{eventId}": {
            "get": {
                "tags": [
                    "Direct Messages"
                ],
                "summary": "Get DM Events by id",
                "description": "Returns DM Events by event id.",
                "operationId": "getDmEventsById",
                "parameters": [
                    {
                        "name": "eventId",
                        "in": "path",
                        "description": "dm event id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/DmEventId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/DmEventFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/DmEventExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/MediaFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/UserFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/TweetFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2DmEventsEventIdResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2UserToken": [
                            "dm.read",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Direct Messages"
                ],
                "summary": "Delete Dm",
                "description": "Delete a Dm Event that you own.",
                "operationId": "dmEventDelete",
                "parameters": [
                    {
                        "name": "eventId",
                        "in": "path",
                        "description": "The ID of the direct-message event to delete",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/DmEventId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteDmResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2UserToken": [
                            "dm.read",
                            "dm.write"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            }
        },
        "/likes/compliance/stream": {
            "get": {
                "tags": [
                    "Compliance"
                ],
                "summary": "Likes Compliance stream",
                "description": "Streams 100% of compliance data for Users",
                "operationId": "getLikesComplianceStream",
                "parameters": [
                    {
                        "name": "backfill_minutes",
                        "in": "query",
                        "description": "The number of minutes of backfill requested",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 5,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-ballerina-name": "backfillMinutes"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Likes Compliance events will be provided",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2021-02-01T18:40:40.000Z",
                        "x-ballerina-name": "startTime"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "description": "YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp from which the Likes Compliance events will be provided",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2021-02-01T18:40:40.000Z",
                        "x-ballerina-name": "endTime"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LikesComplianceStreamResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "x-twitter-streaming": true
            }
        },
        "/likes/firehose/stream": {
            "get": {
                "tags": [
                    "Likes"
                ],
                "summary": "Likes Firehose stream",
                "description": "Streams 100% of public Likes.",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/tweets/filtered-stream/api-reference/get-likes-firehose-stream"
                },
                "operationId": "likesFirehoseStream",
                "parameters": [
                    {
                        "name": "backfill_minutes",
                        "in": "query",
                        "description": "The number of minutes of backfill requested",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 5,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-ballerina-name": "backfillMinutes"
                    },
                    {
                        "name": "partition",
                        "in": "query",
                        "description": "The partition number",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 20,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Likes will be provided",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2021-02-14T18:40:40.000Z",
                        "x-ballerina-name": "startTime"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "description": "YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2021-02-14T18:40:40.000Z",
                        "x-ballerina-name": "endTime"
                    },
                    {
                        "$ref": "#/components/parameters/LikeFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/LikeExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/TweetFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StreamingLikeResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "x-twitter-streaming": true
            }
        },
        "/likes/sample10/stream": {
            "get": {
                "tags": [
                    "Likes"
                ],
                "summary": "Likes Sample 10 stream",
                "description": "Streams 10% of public Likes.",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/likes/firehose/api-reference/get-likes-sample10-stream"
                },
                "operationId": "likesSample10Stream",
                "parameters": [
                    {
                        "name": "backfill_minutes",
                        "in": "query",
                        "description": "The number of minutes of backfill requested",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 5,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        },
                        "x-ballerina-name": "backfillMinutes"
                    },
                    {
                        "name": "partition",
                        "in": "query",
                        "description": "The partition number",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 2,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Likes will be provided",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2021-02-14T18:40:40.000Z",
                        "x-ballerina-name": "startTime"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "description": "YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        },
                        "example": "2021-02-14T18:40:40.000Z",
                        "x-ballerina-name": "endTime"
                    },
                    {
                        "$ref": "#/components/parameters/LikeFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/LikeExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/TweetFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StreamingLikeResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    }
                ],
                "x-twitter-streaming": true
            }
        },
        "/lists": {
            "post": {
                "tags": [
                    "Lists"
                ],
                "summary": "Create List",
                "description": "Creates a new List.",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/post-lists"
                },
                "operationId": "listIdCreate",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListCreateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2UserToken": [
                            "list.read",
                            "list.write",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            }
        },
        "/lists/{id}": {
            "get": {
                "tags": [
                    "Lists"
                ],
                "summary": "List lookup by List ID.",
                "description": "Returns a List.",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/lists/list-lookup/api-reference/get-lists-id"
                },
                "operationId": "listIdGet",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the List",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/ListId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ListFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/ListExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/UserFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2ListsIdResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "OAuth2UserToken": [
                            "list.read",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Lists"
                ],
                "summary": "Update List.",
                "description": "Update a List that you own.",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/put-lists-id"
                },
                "operationId": "listIdUpdate",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the List to modify",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/ListId"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListUpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListUpdateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2UserToken": [
                            "list.write",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Lists"
                ],
                "summary": "Delete List",
                "description": "Delete a List that you own.",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/delete-lists-id"
                },
                "operationId": "listIdDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the List to delete",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/ListId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListDeleteResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2UserToken": [
                            "list.write",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            }
        },
        "/lists/{id}/followers": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Returns User objects that follow a List by the provided List ID",
                "description": "Returns a list of Users that follow a List by the provided List ID",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/users/follows/api-reference/get-users-id-followers"
                },
                "operationId": "listGetFollowers",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the List",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/ListId"
                        }
                    },
                    {
                        "name": "max_results",
                        "in": "query",
                        "description": "The maximum number of results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        },
                        "x-ballerina-name": "maxResults"
                    },
                    {
                        "name": "pagination_token",
                        "in": "query",
                        "description": "This parameter is used to get a specified 'page' of results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/PaginationTokenLong"
                        },
                        "x-ballerina-name": "paginationToken"
                    },
                    {
                        "$ref": "#/components/parameters/UserFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/UserExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/TweetFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2ListsIdFollowersResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "OAuth2UserToken": [
                            "list.read",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            }
        },
        "/lists/{id}/members": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Returns User objects that are members of a List by the provided List ID.",
                "description": "Returns a list of Users that are members of a List by the provided List ID.",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/get-users-id-list_memberships"
                },
                "operationId": "listGetMembers",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the List",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/ListId"
                        }
                    },
                    {
                        "name": "max_results",
                        "in": "query",
                        "description": "The maximum number of results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        },
                        "x-ballerina-name": "maxResults"
                    },
                    {
                        "name": "pagination_token",
                        "in": "query",
                        "description": "This parameter is used to get a specified 'page' of results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/PaginationTokenLong"
                        },
                        "x-ballerina-name": "paginationToken"
                    },
                    {
                        "$ref": "#/components/parameters/UserFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/UserExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/TweetFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2ListsIdMembersResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "OAuth2UserToken": [
                            "list.read",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Lists"
                ],
                "summary": "Add a List member",
                "description": "Causes a User to become a member of a List.",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/post-lists-id-members"
                },
                "operationId": "listAddMember",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the List for which to add a member",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/ListId"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListAddUserRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListMutateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2UserToken": [
                            "list.write",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            }
        },
        "/lists/{id}/members/{userId}": {
            "delete": {
                "tags": [
                    "Lists"
                ],
                "summary": "Remove a List member",
                "description": "Causes a User to be removed from the members of a List.",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/delete-lists-id-members-user_id"
                },
                "operationId": "listRemoveMember",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the List to remove a member",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/ListId"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The ID of User that will be removed from the List",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListMutateResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2UserToken": [
                            "list.write",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            }
        },
        "/lists/{id}/tweets": {
            "get": {
                "tags": [
                    "Tweets"
                ],
                "summary": "List Posts timeline by List ID.",
                "description": "Returns a list of Posts associated with the provided List ID.",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/lists/list-tweets/api-reference/get-lists-id-tweets"
                },
                "operationId": "listsIdTweets",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the List",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "$ref": "#/components/schemas/ListId"
                        }
                    },
                    {
                        "name": "max_results",
                        "in": "query",
                        "description": "The maximum number of results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        },
                        "x-ballerina-name": "maxResults"
                    },
                    {
                        "name": "pagination_token",
                        "in": "query",
                        "description": "This parameter is used to get the next 'page' of results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "$ref": "#/components/schemas/PaginationToken36"
                        },
                        "x-ballerina-name": "paginationToken"
                    },
                    {
                        "$ref": "#/components/parameters/TweetFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/TweetExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/MediaFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/PollFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/UserFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/PlaceFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2ListsIdTweetsResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "OAuth2UserToken": [
                            "list.read",
                            "tweet.read",
                            "users.read"
                        ]
                    },
                    {
                        "UserToken": []
                    }
                ]
            }
        },
        "/openapi.json": {
            "get": {
                "tags": [
                    "General"
                ],
                "summary": "Returns the OpenAPI Specification document.",
                "description": "Full OpenAPI Specification in JSON format. (See https://github.com/OAI/OpenAPI-Specification/blob/master/README.md)",
                "operationId": "getOpenApiSpec",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "The request was successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/spaces": {
            "get": {
                "tags": [
                    "Spaces"
                ],
                "summary": "Space lookup up Space IDs",
                "description": "Returns a variety of information about the Spaces specified by the requested IDs",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces"
                },
                "operationId": "findSpacesByIds",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "The list of Space IDs to return",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maxItems": 100,
                            "minItems": 1,
                            "type": "array",
                            "items": {
                                "pattern": "^[a-zA-Z0-9]{1,13}$",
                                "type": "string",
                                "description": "The unique identifier of this Space.",
                                "example": "1SLjjRYNejbKM"
                            }
                        }
                    },
                    {
                        "$ref": "#/components/parameters/SpaceFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/SpaceExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/UserFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/TopicFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2SpacesResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "OAuth2UserToken": [
                            "space.read",
                            "tweet.read",
                            "users.read"
                        ]
                    }
                ]
            }
        },
        "/spaces/by/creator_ids": {
            "get": {
                "tags": [
                    "Spaces"
                ],
                "summary": "Space lookup by their creators",
                "description": "Returns a variety of information about the Spaces created by the provided User IDs",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-by-creator-ids"
                },
                "operationId": "findSpacesByCreatorIds",
                "parameters": [
                    {
                        "name": "user_ids",
                        "in": "query",
                        "description": "The IDs of Users to search through",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maxItems": 100,
                            "minItems": 1,
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/UserId"
                            }
                        },
                        "x-ballerina-name": "userIds"
                    },
                    {
                        "$ref": "#/components/parameters/SpaceFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/SpaceExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/UserFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/TopicFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2SpacesByCreatorIdsResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "OAuth2UserToken": [
                            "space.read",
                            "tweet.read",
                            "users.read"
                        ]
                    }
                ]
            }
        },
        "/spaces/search": {
            "get": {
                "tags": [
                    "Spaces"
                ],
                "summary": "Search for Spaces",
                "description": "Returns Spaces that match the provided query.",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/spaces/search/api-reference/get-spaces-search"
                },
                "operationId": "searchSpaces",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "The search query",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maxLength": 2048,
                            "minLength": 1,
                            "type": "string",
                            "example": "crypto"
                        },
                        "example": "crypto"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "The state of Spaces to search for",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "all",
                            "enum": [
                                "live",
                                "scheduled",
                                "all"
                            ]
                        }
                    },
                    {
                        "name": "max_results",
                        "in": "query",
                        "description": "The number of results to return",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 100
                        },
                        "x-ballerina-name": "maxResults"
                    },
                    {
                        "$ref": "#/components/parameters/SpaceFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/SpaceExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/UserFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/TopicFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2SpacesSearchResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "OAuth2UserToken": [
                            "space.read",
                            "tweet.read",
                            "users.read"
                        ]
                    }
                ]
            }
        },
        "/spaces/{id}": {
            "get": {
                "tags": [
                    "Spaces"
                ],
                "summary": "Space lookup by Space ID",
                "description": "Returns a variety of information about the Space specified by the requested ID",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-id"
                },
                "operationId": "findSpaceById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Space to be retrieved",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": "^[a-zA-Z0-9]{1,13}$",
                            "type": "string",
                            "description": "The unique identifier of this Space.",
                            "example": "1SLjjRYNejbKM"
                        },
                        "example": "1YqKDqWqdPLsV"
                    },
                    {
                        "$ref": "#/components/parameters/SpaceFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/SpaceExpansionsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/UserFieldsParameter"
                    },
                    {
                        "$ref": "#/components/parameters/TopicFieldsParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Get2SpacesIdResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "The request has failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "BearerToken": []
                    },
                    {
                        "OAuth2UserToken": [
                            "space.read",
                            "tweet.read",
                            "users.read"
                        ]
                    }
                ]
            }
        },
        "/spaces/{id}/buyers": {
            "get": {
                "tags": [
                    "Spaces",
                    "Tweets"
                ],
                "summary": "Retrieve the list of Users who purchased a ticket to the given space",
                "description": "Retrieves the list of Users who purchased a ticket to the given space",
                "externalDocs": {
                    "url": "https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-id-buyers"
                },
                "operationId": "spaceBuyers",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of the Space to be retrieved",
                        "required": true,
                        "style": "simple",
                        "explode": false,
[...]
